@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url('droidsans.woff') format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: url('droidserif.woff') format('woff');
}
html, body {
	background-color: #FFFFFF;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	font-family: sans-serif;
	background-image:url('../images/tl3.jpg');
	font-family: 'Droid Sans', sans-serif;
	background-repeat:repeat;
}
.page {
	width: 985px;
	margin: 0em auto 0em auto;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 2px #777777;
	-moz-box-shadow: 0px 0px 2px #777777;
	-webkit-box-shadow: 0px 0px 2px #777777;
}
.header {
	height: 9em;
	width: 100%;
	clear: both;
	padding: 0.1em 0 0em 0;
}
.header .vk_logo{
	height:7em;
	float: left;
	padding-bottom: 2em;
	text-align: center;
}
.header .gov_logo{
	float: right;
	width: 5em;
	text-align: center;
	margin: 1em 1em 0.5em 0;
}
.header .title{
	margin: 1em auto 1em auto;
	text-align: center;
	min-height: 6em;
}
.header .title .eng{
	width: 20%;
	text-align: center;
	float: right;
	font-family: 'Droid Sans';
	margin: 1.8em 2em 0em 0;
	color: #B8860B;
	font-size: 0.9em;
}
.header .title .full{
	float: left;
	width: 30%;
	text-align: center;
	margin: 1em 0 0 0.2em;
	color: #483D8B;
}
.header .nav {
	background:-moz-linear-gradient(top, #B22222 0%,#8B0000 100%);
	background:linear-gradient(to bottom, #B22222 0%, #8B0000 100%);
	background-color: #B22222;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: 1px 1px 1px #292929;
	-moz-box-shadow: 1px 1px 1px #292929;
	-webkit-box-shadow: 1px 1px 1px #292929;
	padding: 0em 0 0em 0;
	position: relative;
	font-size: 0.9em;
	width: 1025px;
	margin: 0 0 0 -20px;
	float: left;
}
.header  .menu{
	margin: 0 0 0 2em;
}
.header  .menu li {
	float: left;
	position: relative;
}

.header .menu li a{
	color: #FFFFFF;
	display: block;
	font-size: 1em;
	padding: 6px 12px;
	margin: 0px 8px;
	vertical-align: middle;
	text-decoration: none;
}

.header .menu li a:hover {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
	color: #FFFFFF;
}

/* Dropdown styles */

.header .menu ul {
	position: absolute;
	left: -9999px;
	list-style: none;
	opacity: 0;
	-moz-transition: opacity 0.4s ease;
	padding: 0.5em 0 0.5em 0.5em;
	border-radius: 0px 0px 12px 12px ;
	-moz-border-radius: 0px 0px 12px 12px ;
	-webkit-border-radius: 0px 0px 12px 12px ;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.2);
	background-color: #FFFFFF;
}

.header .menu ul li {
	float: none;
}

.header .menu ul a {
	white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.header .menu li:hover ul {
	left: 5px;
	opacity: 1;
}

/* Persistant Hover State */
.header .menu li:hover a {
	color: #FFFFFF;
}

.header .menu li:hover ul a {
	background: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #333333;
	-moz-transition: color 0.4s ease;
}
.header .menu li:hover ul li a:hover {
	color: #8B0000;
}
.clearfix {
	clear: both;
}
.mainpage {
	min-height: 20em;
	width: 100%;
	clear: both;
	float: left;
}
.about_image {
	border: 1px solid black;
	box-shadow: 10px 10px 10px #EEE;
	display: inline-block;
	margin-left: 2em;
	margin-bottom: 4em;
}
.mainpage .nav{
	float: right;
	width: 10em;
	min-height: 15em;
	margin: 1em 2em 0 0;
}
.archive_title{
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
	padding: 0.5em 0.5em 0.5em 1em;
	color: #B22222;
	font-variant: small-caps;
	font-weight: bold;
}
.mainpage .menu{
	font-size: 1em;
}
.mainpage .menu .spf{
	border-top: none;
}
.mainpage .menu li{
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
	padding: 0.5em 0em 0.5em 1em;
	color: #3D3D3D;
	font-variant: small-caps;
}
.mainpage .menu li a{
	color: #3D3D3D;
	font-size: 0.95em;
	text-decoration: none;
}
.mainpage .menu li a:HOVER, .mainpage .menu li a.active{
	color: #483D8B;
	text-decoration: none;
	font-weight: bold;
}
.mainpage .archive_holder{
	padding: 2em 1em 1em 1em;
	font-size: 0.85em;
	border-right: 1px solid #CCCCCC;
	width: 75%;
	float: right;
	color: #3D3D3D;
	min-height: 40em;
}
.mainpage .archive_holder_volume{
	padding: 2em 1em 1em 1em;
	font-size: 0.85em;
	border-right: 1px solid #CCCCCC;
	width: 75%;
	float: right;
	color: #3D3D3D;
	min-height: 40em;
}
.mainpage .page_title{
	margin: 1em 0em 1em 0em;
	padding-bottom: 0.5em;
	font-size: 1.5em;
	color: #483D8B;
	width: 80%;
	border-bottom: 1px solid #483D8B;	
}
.mainpage .page_booktitle{
	margin: 0em 0em 0em 0em;
	font-size: 1.2em;
	color: #483D8B;
	width: 80%;
	border-bottom: 1px solid #483D8B;	
}
.mainpage .page_subtitle{
	margin: 0em 0em 0em 0em;
	font-size: 1em;
	width: 80%;
	text-align: right;
	color: #B22222;
}
.mainpage .page_si{
	margin: 0em 0em 2em 0em;
	font-size: 1em;
	width: 80%;
	text-align: left;
	color: #B22222;
}
.mainpage .page_other{
	margin-bottom: 2em;
	font-size: 0.95em;
	color: #8B0000;
	width: 80%;
	text-align: left;
}
.motif {
	margin-left: 2em;
}

.archive_search {
	margin: 0em 0em 0em 3em;
	width: 40em;
	min-height: 30em;
	line-height: 1.5em;
}
.archive_search table{
	width: 500px;	
}
.archive_search table .left{
	width: 67px;
	height: 40px;
	text-align: right;
	padding: 1em 2em 1em 0;
	vertical-align: middle;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.archive_search table .right{
	width: 180px;
	text-align: left;
	vertical-align: middle;
	padding: 1em 0 1em 2em;
	border-bottom: 1px solid #CCCCCC;
}
.archive_search input{
	background: none;
	border: 1px solid #CCCCCC;
}
.archive_search .wide{
	width: 20em;
}
.archive_search .med{
	width: 7em;
}
.archive_search select{
	background: none;
	border: 1px solid #CCCCCC;
}
.alphabet {
	width: 100%;
	clear: both;
	text-align: center;
	padding-bottom: 2em;
}
.alphabet .letter {
	font-size: 0.9em;
	color: #3D3D3D;
	padding: 0 0 0 0.75em;
}
.alphabet .letter a{
	font-size: 1em;
	color: #3D3D3D;
	text-decoration:none;
}
.alphabet .letter a:Hover{
	font-size: 1em;
	color: #000000;
	text-decoration: underline;
}
.titlespan {
	color: #3D3D3D; 
}
.titlespan a{
	color: #3D3D3D;
	text-decoration:none;
}
.titlespan a:Hover{
	color: #000000;
	text-decoration:underline;
}
.featurespan {
	color: #B22222;
	font-size: 0.9em; 
}
.featurespan a{
	color: #B22222;
	text-decoration:none;
}
.featurespan a:Hover{
	color: #B22222;
	text-decoration:underline;
}
.authorspan {
	color: #483D8B; 
}
.authorspan a{
	color: #483D8B;
	text-decoration:none;
}
.authorspan a:Hover{
	color: #483D8B;
	text-decoration:underline;
}
.yearspan {
	color: #555555;
	font-size: 0.9em;
	white-space: nowrap;
}
.yearspan a{
	color: #555555;
	text-decoration:none;
}
.yearspan a:Hover{
	color: #555555;
	text-decoration:underline;
}
.downloadspan {
	font-size: 0.9em;
	color: #3D3D3D; 
	margin-left: 2em;
}
.downloadspan a{
	color: #3D3D3D;
	text-decoration:none;
}
.downloadspan a:Hover{
	color: #000000;
	text-decoration:none;
}
.mainpage .archive_holder ul{
	margin-left: 2em;
}
.mainpage .archive_holder ul li{
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px dotted #CCCCCC;
}
.mainpage .archive_holder ul li br{
	margin-bottom: 1em;
}
.mainpage .archive_holder_volume ul{
	margin-left: 0em;
}
.mainpage .archive_holder_volume ul li{
	list-style-type: none;
	margin-bottom: 0.75em;
}
.span1 {
	color: #FFFFFF;
}
.span2 {
	color: #FFD700;
}
.col1{
	width: 21%;
	float: left;
	text-align: left;
	margin-left: 1em;
	border-right: 1px solid #CCCCCC;
}
.col2{
	width: 21%;
	float: left;
	text-align: left;	
	margin-left: 1.5em;
	border-right: 1px solid #CCCCCC;
}
.col3{
	width: 21%;
	float: left;
	text-align: left;
	margin-left: 1.5em;
	border-right: 1px solid #CCCCCC;
}
.col4{
	width: 21%;
	float: left;
	text-align: left;
	margin-left: 1.5em;
}
.count{
	width: 10em;
	float: right;
	margin-top: 3em;
}
.footer {
	width: 100%;
	background-color: #FFFFFF;
	float: left;
	background-image:url('../images/bg4.png');
	font-size: 0.85em;
	text-align: center;
	color: #000000;
	border-top: 1px solid #CCCCCC;
}
.footer li{
	margin-bottom: 0.5em;
}
.foot_links {
	margin: 0;
	float: left;
	width: 100%;
	padding: 2em 0 0em 0;
}
.foot_links1 {
	display: inline;
	float: left;
	height: 9em;
	width: 17.75%;
	padding: 0 0 0 3%;
	text-align: left;
}
.foot_links2 {
	float: left;
	height: 9em;
	width: 20.75%;
	padding: 0 0 0 0%;
	text-align: left;
}
.foot_links3 {
	float: left;
	height: 9em;
	width: 25%;
	padding: 0 0 0 0%;
	text-align: left;
}
.foot_links4 {
	float: left;
	height: 9em;
	width: 28%;
	padding: 0 0 0 2%;
	text-align: left;
}
.foot_link_span {
	text-align: left;
	padding: 0 1em 0 1em;
}
.foot_link_span a{
	color: #000000;
	text-decoration: none;
	opacity: 1;
	-moz-transition: color 1s ease;
}
.foot_link_span a:HOVER{
	color: #000000;
}
.foot_box {
	height: 3em;
	width: 985px;
	margin: 0em auto 0em auto;
	font-size: 0.7em;
}
.foot_box .left{
	float: left;
	margin: 1em 0 1em 0;
	color: #000000;
}
.foot_box .right{
	float: right;
	margin: 1em 0 1em 0;
}
.foot_box .right li{
	display: inline;
	color: #000000;
}
.foot_box .right li a{
	color: #000000;
	text-decoration: none;
}
.foot_box .left li a:HOVER{
	color: #000000;	
	text-decoration: underline
}
.foot_right {
		float: right;
		font-family: "Droid Sans";
		font-size: 0.98em;
		margin-right: 2em;
		margin-top: 0.5em;
}
.djvu {
	margin: 1em 0 0 0;
}
.djvu_text {
	font-size: 0.8em;
}
.it{
	font-style: italic;
}
.vbig{
	font-size: 2em;
}
.big{
	font-size: 1.2em;
}
.small{
	font-size: 1em;
	text-align: left;
	margin-left:1em;
}
.bld{
	font-weight: bold;
}
.itl{
	font-style: italic
}
.plates{
	margin: 1em 0 0 0;
}
.plates img{
	margin: 0em 1em 1em 0;
	border: 1px solid #DDDDDD;
}
.about{
	padding: 2em 1em 1em 1em;
	font-size: 0.80em;
	border-right: 1px solid #CCCCCC;
	width: 75%;
	float: right;
	color: #3D3D3D;
	min-height: 40em;
}
.about a{
	color: inherit;
	text-decoration: inherit;
}
.about a:HOVER{
	text-decoration: underline;
}
.about p{
	padding: 0em 1em 1em 0em;
	text-align: justify;
}
.about .h1{
	color: #483D8B;
	font-size: 1em;
	font-weight: bold;
}
.about ul{
	margin: 0 0 1em 4em;
}
.help{
	padding: 2em 1em 1em 1em;
	font-size: 0.80em;
	border-right: 1px solid #CCCCCC;
	width: 75%;
	float: right;
	color: #3D3D3D;
	min-height: 40em;
}
.help a{
	color: inherit;
	text-decoration: inherit;
}
.help a:HOVER{
	text-decoration: underline;
}
.help p{
	padding: 0em 1em 1em 0em;
	text-align: justify;
}
.help .h1{
	color: #483D8B;
	font-size: 1em;
	font-weight: bold;
}
.help ul{
	margin: 0 0 1em 4em;
}
.help ul li{
	list-style-type: decimal;
}
.lower_roman li{
	list-style-type: lower-roman;
}
.decimal li{
	list-style-type: decimal;
}
.lower_alpha li{
	list-style-type: lower-alpha;
}
.dot li{
	list-style-type: disc;
}
.clr{
	color: #B22222;
	margin-left: 0em;
}
.sign{
	color: #B22222;
	float: right;
}
.sign a{
	color: #B22222;
	text-decoration: none;
}
.sign a:HOVER{
	color: #B22222;
	text-decoration: none;
}
.imggallery {
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 0em 0em 1em 1em;
}
.gallery_holder{
	margin: 0em auto 0 auto;
}
.rc li{
	font-size: 1.1em;
}
.rc a{
	color: #3D3D3D;
	text-decoration: none;
}
.rc a:HOVER{
	color: #3D3D3D;
	text-decoration: none;
}
.fbi_li{
	list-style-image:url('../images/fbi_li.png');
	list-style-position: inside;
}
.fi_li{
	list-style-image:url('../images/fi_li.png');
	list-style-position: inside;
}
.sfs_li{
	list-style-image:url('../images/sfs_li.png');
	list-style-position: inside;
}
.motif{
	color: #fff;
	height: 20px;
	width:19px;
	font-weight: bold;
	font-size: 14px;
	float:left;
	text-align:center;
	padding-right: 1px;
	margin-right: 1em;
	line-height: 1.5em;
}
.records_motif, .rec_motif{
	background: #800000;
}
.records_motif:before, .rec_motif:before{
	content: 'R';
}
.memoirs_motif, .mem_motif{
	background: #A39446;
}
.memoirs_motif:before, .mem_motif:before{
	content: 'M';
}
.occpapers_motif, .occ_motif{
	background: #FF8C00;
}
.occpapers_motif:before, .occ_motif:before{
	content: 'O';
}
.fbi_motif{
	background: #3E4FA7;
}
.fbi_motif:before{
	content: 'F';
}
.fi_motif{
	background: #3E4FA7;
}
.fi_motif:before{
	content: 'F';
}
.sfs_motif{
	background: #008080;
}
.sfs_motif:before{
	content: 'S';
}
.cas_motif{
	background: #6B8E23;
}
.cas_motif:before{
	content: 'C';
}
.ess_motif{
	background: #FF8C00;
}
.ess_motif:before{
	content: 'E';
}
.hpg_motif{
	background: #8B4513;
}
.hpg_motif:before{
	content: 'H';
}
.spb_motif{
	background: #800080;
}
.spb_motif:before{
	content: 'S';
}
.sse_motif{
	background: #3e4fa7;
}
.sse_motif:before{
	content: 'N';
}
.tcm_motif{
	background: #A7813E;
}
.tcm_motif:before{
	content: 'T';
}
.zlg_motif{
	background: #E25637;
}
.zlg_motif:before{
	content: 'Z';
}
.bulletin_motif, .bul_motif{
	background: #E25637;
}
.bulletin_motif:before, .bul_motif:before{
	content: 'B';
}
.rec_motif_fixed, .mem_motif_fixed, .occ_motif_fixed, .fbi_motif_fixed, .fi_motif_fixed, .sfs_motif_fixed{
	width: 20px;
	height: 20px;
	float: right;
	margin-right: 0.5em;
}
.rec_motif_fixed{
	background-image:url('../images/rec_li.png');
}
.mem_motif_fixed{
	background-image:url('../images/mem_li.png');
}
.occ_motif_fixed{
	background-image:url('../images/occ_li.png');
}
.fbi_motif_fixed{
	background-image:url('../images/fbi_li.png');
}
.fi_motif_fixed{
	background-image:url('../images/fi_li.png');
}
.sfs_motif_fixed{
	background-image:url('../images/sfs_li.png');
}
.goto{
	float: right;
}
.goto_num{
	width: 2.5em;
	border: 1px solid #CCCCCC;
	background: none;
	text-align: center;
}
.goto_search{
	width: 2em;
	border: none;
	background: none;
	color: #B22222;
}
.vol{
	font-size: 1.2em;
	font-weight: bold;
	color: #9C0F0F;
	padding: 1em;
	border: 1px solid #9C0F0F;
	box-shadow: 1px 1px 1px #9C0F0F;
	border-radius: 5px;
}
.vol a{
	text-decoration: none;
	color: #9C0F0F;
}
.dnone{
	display: none;
	margin-top: 1em;
}
.archive_holder .treeview ul li {
	list-style: none; 
	list-style-position:outside;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
}
.archive_holder .treeview ul li img{ 
	vertical-align: middle;
}
.help{
	text-align: justify;
}
.help .color{
	font-weight: bold;
}
.help p{
	margin-bottom: 1em;
}
.help ul{
	margin-left: 2em;
}
.help ul li{
	margin-bottom: 0.75em;
}
.helptable{
	margin: 0 auto 2.5em auto;
	text-align: left;
	font-size: 0.9em;
}
.helptable tr{
	border-top: 1px solid #CCC;;
}
.helptable tr:last-of-type{
	border-bottom: 1px solid #CCC;;
}
.hleft{
	vertical-align: middle;
	width: 23%;
	border-right: 1px solid #CCC;
	padding: 0.5em 1em 0.5em 0.5em;
	text-align: right;
}
.hright{
	vertical-align: middle;
	width: 75%;
	padding: 0.5em 0.5em 0.5em 1em;
}
.gap_below{
	margin-bottom: 3em;
}
.gap_above{
	margin-top: 1em;
}
.li_below{
	padding-bottom: 1em;
}
.bpointer{
	cursor:pointer;
}
.info_holder{
	width: 20em;
	min-height: 10em;
	float: right;
	margin: 4em 2em 0 0;
	border: 1px solid #CCCCCC;
}
.info_holder .left{
	width: 24%;
	border-right: 1px solid #CCCCCC;
	padding: 0.5em 1em 0.5em 0;
}
.info_holder .right{
	width: 75%;
	padding: 0.5em 0 0.5em 1em;
}
.space_left{
	margin-left: 4em;
	font-size: 0.9em;
}
.book_cover{
	float: right;
	margin: 0 2em 0 0;
	box-shadow: 0px 0px 2px #444444;
	background-color: #FFFACD;
}
.book_cover img{
	width: 75px;
}
.bookspan {
	color: #8B0000;
	font-size: 0.9em;
}
.bookspan a{
	color: #8B0000;
	text-decoration:none;
}
.bookspan a:Hover{
	color: #8B0000;
	text-decoration:underline;
}
.nrmargin{
	margin-right: 0.25em;
}
.archive_holder{
	line-height: 2em;
}
